<app-navbar></app-navbar>
<div class="d-lg-flex align-items-lg-center height-85vh--lg bg-image-home">
    <div class="container">
        <div class="row justify-content-lg-between align-items-lg-center">
            <div class="col-lg-5 mb-7 mb-lg-0">
                <span class="d-block text-white text-uppercase mb-2">Join the change</span>
                <span class="display-4 font-size-48--md-down text-white mb-0">Space service that moves work forward</span>
            </div>

            <div class="col-lg-5">
                <div class="bg-white shadow-sm rounded p-6">
                    <form>
                        <div class="mb-4">
                            <h2 class="h4">Crea una cuenta</h2>
                            <p class="text-muted">Completa el formulario para comenzar.</p>
                        </div>  

                        <div class="form-group">
                            <div class="input-group form">
                                <div class="input-group-prepend form__prepend">
                                    <span class="input-group-text form__text">
                                        <i class="fa fa-user form__text-inner"></i>
                                    </span>
                                </div>          
                                <input type="text" class="form-control" id="InputNames" placeholder="Nombre y Apellido">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group form">
                                <div class="input-group-prepend form__prepend">
                                    <span class="input-group-text form__text">
                                        <i class="fa fa-envelope form__text-inner"></i>
                                    </span>
                                </div>          
                                <input type="email" class="form-control form__input" id="InputEmail" aria-describedby="emailHelp" placeholder="Email">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group form">
                                <div class="input-group-prepend form__prepend">
                                    <span class="input-group-text form__text">
                                        <i class="fa fa-lock form__text-inner"></i>
                                    </span>
                                </div>          
                                <input type="password" class="form-control form__input" id="InputPassword"  placeholder="Contraseña">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group form">
                                <div class="input-group-prepend form__prepend">
                                    <span class="input-group-text form__text">
                                        <i class="fa fa-key form__text-inner"></i>
                                    </span>
                                </div>          
                                <input type="password" class="form-control form__input" id="InputConfirmPassword" placeholder="Confirmación de Contraseña">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group form">
                                <div class="input-group-prepend form__prepend">
                                    <span class="input-group-text form__text">
                                        <i class="fa fa-gift form__text-inner"></i>
                                    </span>
                                </div>
                                <input type="date" class="form-control form__input" id="InputDateBirth">
                            </div>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-block btn-success">Registrarte</button>
                        </div>

                        <div class="text-center mb-3">
                            <p class="text-muted"> ¿Ya tienes una cuenta? 
                                <a class="a-success" href="#" routerLink="/examenes">Inicia Sesión</a>
                            </p>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>