@media (min-width: 992px) {
    .height-85vh--lg {
        height: 83.5vh;
    }
}

.bg-image-home{
    background-image: url("/../../../assets/images/home-background.jpg");
    background-size: cover;
    opacity: 2;
}
