          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Historial</h1>
          <p class="mb-4">Aquí encontraras el historial de música, ¡Dale Click y Disfutra!</p>

           <!-- DataTales Example -->
           <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Historial de Búsqueda</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th *ngFor="let title of titleTables" scope="col">{{title}} </th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th *ngFor="let title of titleTables" scope="col">{{title}} </th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr *ngFor="let song of songsHistory">
                      <td>{{song.tipo_emocion}}</td>
                      <td>{{song.descripcion}}</td>
                      <td>{{song.nivel_confianza}}</td>
                      <td>{{song.nombre_cancion}}</td>
                      <td>{{song.artista}}</td>
                      <td>{{song.fecha_transaccion}}</td>
                      <!-- {{song.link}}  -->
                      <td>
                        <div class="my-2"></div>
                        <a (click)="goTrack(song.link)" class="btn btn-success btn-icon-split">
                          <span class="icon text-white-50">
                            <i class="fas fa-play"></i>
                          </span>
                          <span class="text" style="color:#FFFFFF" >Reproducir</span>
                        </a>
                        <div class="my-2"></div></td>
                    </tr>
                    

                  </tbody>
                </table>
              </div>
            </div>
          </div>