
        <!-- Begin Page Content -->
        
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-2 text-gray-800">Dashboard</h1>
          </div>

          <!-- Content Row -->
          <div class="row">

            <!-- Cancion y Artista -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Nombre de la Canción y Artista</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{defSong.nombre_cancion}} de {{defSong.artista}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-music fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Emocion Detectada -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Emoción</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{defSong.descripcion}}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-user fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Nivel de Confianza -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Nivel de Confianza</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{defSong.nivel_confianza}}%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" [style.width.%]="defSong.nivel_confianza" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-percent fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Spotify Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class=" h-100 py-2" style="text-align: center;">
                <iframe [src]="setTrack(defSong)" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
              </div>
            </div>

          </div>  

          <!-- Content Row -->
          <div class="row">
            <!-- Detection Emotion -->
            <div class="col-xl-12 col-lg-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Recomendaciones</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                  <app-camera (recomendation)="recommendationDetected($event)"></app-camera>
                </div>
              </div>
            </div>     
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12">
              <!-- DataTales Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Historial de Búsqueda</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th *ngFor="let title of titleTables" scope="col">{{title}} </th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th *ngFor="let title of titleTables" scope="col">{{title}} </th>
                        </tr>
                      </tfoot>
                      <tbody>
                        <tr *ngFor="let song of songsHistory">
                          <td>{{song.tipo_emocion}}</td>
                          <td>{{song.descripcion}}</td>
                          <td>{{song.nivel_confianza}}</td>
                          <td>{{song.nombre_cancion}}</td>
                          <td>{{song.artista}}</td>
                          <td>{{song.fecha_transaccion}}</td>
                          <!-- {{song.link}}  -->
                          <td> 
                            <div class="my-2"></div>
                            <a (click)="setTrack(song)" class="btn btn-success btn-icon-split">
                              <span class="icon text-white-50">
                                <i class="fas fa-play"></i>
                              </span>
                              <span class="text" style="color:#FFFFFF" >Reproducir</span>
                            </a>
                            <div class="my-2"></div></td>
                        </tr>
                        

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>      
          </div>

