<div class="row justify-content-lg-between align-items-lg-center">
    <div class="col-lg-5 mx-auto">
        <div class="bg-white shadow-sm rounded p-6">
            <form>
                <div class="mb-4">
                    <h2 class="h4">Crea una cuenta</h2>
                    <p class="text-muted">Completa el formulario para comenzar.</p>
                </div>  

                <div class="form-group">
                    <div class="input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <i class="fa fa-user form__text-inner"></i>
                            </span>
                        </div>
                        <input [(ngModel)]="name" name="name" type="text" class="form-control" placeholder="Nombre"> 
                        <div class="col-6 not-padding-right">
                            <input [(ngModel)]="lastname" name="lastname" type="text" class="form-control" placeholder="Apellido">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <i class="fa fa-envelope form__text-inner"></i>
                            </span>
                        </div>          
                        <input [(ngModel)]="email" name="email" type="email" class="form-control form__input" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <i class="fa fa-lock form__text-inner"></i>
                            </span>
                        </div>          
                        <input [(ngModel)]="password" name="password" type="password" class="form-control form__input" placeholder="Contraseña">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <i class="fa fa-key form__text-inner"></i>
                            </span>
                        </div>          
                        <input [(ngModel)]="confirmPassword" name="confirmPassword" type="password" class="form-control form__input" placeholder="Confirmación de Contraseña">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group form">
                        <div class="input-group-prepend form__prepend">
                            <span class="input-group-text form__text">
                                <i class="fa fa-gift form__text-inner"></i>
                            </span>
                        </div>
                        <input [(ngModel)]="birth" name="birth" type="date" class="form-control form__input" id="InputDateBirth">
                    </div>
                </div>

                <div class="form-group">
                    <div class="row pad-left-custom">
                        <div class="col-sm-4">
                          <div class="form-check">
                            <input (change)="chooseGender($event)" class="form-check-input" type="radio" name="gridRadios"value="0" checked>
                            <label class="form-check-label">
                              Femenino
                            </label>
                          </div>
                        </div>
    
                        <div class="col-sm-4">
                            <div class="form-check">
                              <input (change)="chooseGender($event)" class="form-check-input" type="radio" name="gridRadios" value="1">
                              <label class="form-check-label">
                                Masculino
                              </label>
                            </div>
                        </div>
    
                        <div class="col-sm-3">
                            <div class="form-check">
                              <input (change)="chooseGender($event)" class="form-check-input" type="radio" name="gridRadios" value="2">
                              <label class="form-check-label">
                                Otro
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div style="text-align:center; color: red;">
                    <label for="">{{error}}</label>
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-block btn-success" (click)="register()">Registrate</button>
                </div>

                <div class="text-center mb-3">
                    <p class="text-muted"> ¿Ya tienes una cuenta? 
                        <a class="a-success" href="#" routerLink="/signin">Inicia Sesión</a>
                    </p>
                </div>

            </form>
        </div>
    </div>
</div> 