<div class="row justify-content-lg-between align-items-lg-center">
    <div [hidden]="!enable" class="col-lg-8 mx-auto">
        <div class="bg-white shadow-sm rounded p-6" style="text-align: center;">
            <div class="pt-5">
                <span class="display-4 font-size-28--md-down text-muted">Registro Exitoso!</span>
                <div></div>
                <span class="display-4 font-size-28--md-down text-muted">Ahora inicia sesión.</span>
            </div>

            <div style="text-align:center; color: red;">
                <label for="">{{error}}</label>
            </div>
                      
            <div class="mt-4 pb-4">
                <button class="btn btn-success btn-lg m-4" routerLink="/signin">Iniciar Sesión</button>
                <button class="btn btn-dark btn-lg m-4" routerLink="">Home</button>
            </div>
        </div>
    </div>
</div> 
